body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 8, 49);
}
.main-header{
   background-color: black;
   margin: 0px;
}
.container{
    display: flex;
}

nav{
    width: 70%;
    display: flex;
    justify-content: right;
    padding-right: 120px;
}

li a{
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

.active{
   color: rgb(221, 221, 33);
}

ul{
    display: flex;
    list-style-type: none;
}

.logo{
    padding: 15px;
    width: 25%;
    text-align: right;
}
.logo a{
    color: white;
    text-decoration: none;
}

.now-playing{

   background-size: contain;
   background-image: url('/images/EOQ_tMzWAAIWpoV.jpeg');
}

.now-playing h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 200px;
    margin: 0px;
    background-color: rgba(8, 13, 41, 0.9);
}
label{
    color: white;
}

section h2{
    color: white;
    padding: 10px;
    margin-left: 50px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#search-term{
    width: 400px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.btn{
    padding: 9px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(243, 247, 30);
    border-radius: 5px;
}

.card-img-top{
    height: 400px;
    width: 350px;
}
.lastContainer{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#popular-movies{
    border: 2px solid white ;
    border-bottom: 20px solid white;
    margin: 20px;
    display: block;
    padding: 15px;
}

.AfterNowPlaying{
    background-color: rgba(8, 13, 41);
}

.movie-details{
    text-align: left;
    height: 444px;
    padding: 50px;
    background-color: rgba(8, 13, 41);
}

.movie-details button{
    background-color: transparent;
    border: 1px solid white;
    width: 180px;
    border-radius: 7px;
}

.movie-details h3{
    color: white;
}

.movie-details h3:hover{
    color: rgb(238, 215, 12);
}

.show-details{
    text-align: center;
    color: white;
    padding: 50px;
    background-color: rgba(8, 13, 41);
}

.show-details h3{
    color: white;
}

.card-body{
    color: White;
}

